In [313]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
from collections import Counter
from itertools import *

In [314]:
source_df = pd.read_csv('/Users/kirill/Downloads/movie_bd_v5.csv')

# Предобработка

In [315]:
answers = {} # создадим словарь для ответов

#преобразуем дату в объект Date
def to_date(date_string):
    date_list = date_string.split('/')
    date=datetime.date(int(date_list[2]),int(date_list[0]),int(date_list[1]))
    return date

source_df.release_date=source_df.release_date.apply(to_date)

#преобразуем строки с перечислением объектов в списки
source_df.cast=source_df.cast.apply(lambda s: s.split('|'))
source_df.genres=source_df.genres.apply(lambda s: s.split('|'))
source_df.production_companies=source_df.production_companies.apply(lambda s: s.split('|'))
source_df.director=source_df.director.apply(lambda s: s.split('|'))

#добавим столбец profit
source_df['profit']=source_df['revenue']-source_df['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [150]:
data = source_df.copy()
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [151]:
data.sort_values('budget', ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,tt0283111,5000000,38275483,National Lampoonâ€™s Van Wilder,Ryan Reynolds|Tara Reid|Tim Matheson|Kal Penn|...,Walt Becker,Don't Graduate. Celebrate.,"Van Wilder is an outgoing, and extremely popul...",92,Comedy|Romance,Tapestry Films|Artisan Entertainment,3/29/2002,5.9,2002
892,tt0259446,5000000,368744044,My Big Fat Greek Wedding,Nia Vardalos|John Corbett|Lainie Kazan|Michael...,Joel Zwick,Love is here to stay... so is her family.,A young Greek woman falls in love with a non-G...,95,Comedy|Drama|Romance,MPH Entertainment|Playtone Productions|Gold Ci...,2/22/2002,6.1,2002
1071,tt2109184,5000000,142817992,Paranormal Activity 4,Katie Featherston|Kathryn Newton|Matt Shively|...,Henry Joost|Ariel Schulman,It's closer than you think,It has been five years since the disappearance...,95,Horror,Paramount Pictures|Blumhouse Productions|Room ...,10/17/2012,5.3,2012
911,tt0322802,5000000,64282312,Jackass: The Movie,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Do not attempt this at home.,Johnny Knoxville and his crazy friends appear ...,87,Comedy,Paramount Pictures,10/21/2002,6.2,2002
1216,tt2101441,5000000,31724284,Spring Breakers,James Franco|Selena Gomez|Vanessa Hudgens|Ashl...,Harmony Korine,A little sun can bring out your dark side.,After four college girls rob a restaurant to f...,94,Drama|Crime,RabbitBandini Productions|Division Films|Pop F...,1/24/2013,5.0,2013

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [41]:
answers['2'] = 'Gods and Generals'

In [152]:
data = source_df.copy()
data.sort_values('runtime', ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1736,tt0462322,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,4/6/2007,6.5,2007
1336,tt0360717,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,12/14/2005,6.4,2005
504,tt0213149,140000000,449220945,Pearl Harbor,Ben Affleck|Josh Hartnett|Kate Beckinsale|Cuba...,Michael Bay,"December 7, 1941 - A day that shall live in in...",The lifelong friendship between Rafe McCawley ...,183,History|Romance|War,Jerry Bruckheimer Films|Touchstone Pictures,5/21/2001,6.6,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1408,tt0361089,35000000,19478106,Valiant,Ewan McGregor|Ricky Gervais|Tim Curry|Jim Broa...,Gary Chapman,"Some pigeons eat crumbs, others make history.",The animated comedy tells the story of a lowly...,76,Animation|Family|Adventure,Vanguard Films|Scanbox,3/25/2005,5.3,2005
1626,tt0299172,110000000,103951461,Home on the Range,Randy Quaid|Steve Buscemi|Judi Dench|Cuba Good...,Will Finn|John Sanford,Bust a Moo.,The Little Piece of Heaven family farm is abou...,76,Western|Animation|Family|Comedy|Music,Walt Disney Pictures|Walt Disney Feature Anima...,4/2/2004,5.8,2004
1097,tt0283426,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2/7/2003,5.6,2003
930,tt0280030,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,6.2,2002
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 3. Какой из фильмов самый короткий (в минутах)?

In [40]:
data = source_df.copy()
answers['3'] = 'Winnie the Pooh'
data.sort_values('runtime')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...",Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...",2011-04-13,6.8,2011
930,tt0280030,20000000,109862682,Return to Never Land,"[Harriet Owen, Blayne Weaver, Jeff Bennett, Ka...",Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,"[Adventure, Fantasy, Animation, Family]","[Walt Disney Pictures, Walt Disney Television ...",2002-02-14,6.2,2002
1097,tt0283426,20000000,135680000,The Jungle Book 2,"[John Goodman, Haley Joel Osment, Mae Whitman,...",Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,"[Family, Animation, Adventure]","[Walt Disney Pictures, Walt Disney Television ...",2003-02-07,5.6,2003
1408,tt0361089,35000000,19478106,Valiant,"[Ewan McGregor, Ricky Gervais, Tim Curry, Jim ...",Gary Chapman,"Some pigeons eat crumbs, others make history.",The animated comedy tells the story of a lowly...,76,"[Animation, Family, Adventure]","[Vanguard Films, Scanbox]",2005-03-25,5.3,2005
1626,tt0299172,110000000,103951461,Home on the Range,"[Randy Quaid, Steve Buscemi, Judi Dench, Cuba ...",Will Finn|John Sanford,Bust a Moo.,The Little Piece of Heaven family farm is abou...,76,"[Western, Animation, Family, Comedy, Music]","[Walt Disney Pictures, Walt Disney Feature Ani...",2004-04-02,5.8,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,tt0213149,140000000,449220945,Pearl Harbor,"[Ben Affleck, Josh Hartnett, Kate Beckinsale, ...",Michael Bay,"December 7, 1941 - A day that shall live in in...",The lifelong friendship between Rafe McCawley ...,183,"[History, Romance, War]","[Jerry Bruckheimer Films, Touchstone Pictures]",2001-05-21,6.6,2001
1336,tt0360717,207000000,550000000,King Kong,"[Naomi Watts, Jack Black, Adrien Brody, Thomas...",Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,"[Adventure, Drama, Action]","[WingNut Films, Universal Pictures, Big Primat...",2005-12-14,6.4,2005
1736,tt0462322,67000000,25037897,Grindhouse,"[Kurt Russell, ZoÃ« Bell, Rosario Dawson, Vane...",Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,"[Thriller, Action, Horror]","[Big Talk Productions, Yer Dead Productions, W...",2007-04-06,6.5,2007
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]",2003-12-01,7.9,2003
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2003-02-21,5.8,2003

# 4. Какова средняя длительность фильмов?

In [44]:
data = source_df.copy()
data.runtime.mean()
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [337]:
data = source_df.copy()
data.runtime.median()
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [52]:
data = source_df.copy()
answers['6'] = 'Avatar'
data.sort_values('profit')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090
1616,tt0318974,145000000,25819961,The Alamo,"[Dennis Quaid, Billy Bob Thornton, Jason Patri...",John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,"[Western, History, War]","[Imagine Entertainment, Touchstone Pictures]",2004-04-07,5.9,2004,-119180039
809,tt1305591,150000000,38992758,Mars Needs Moms,"[Seth Green, Joan Cusack, Dan Fogler, Breckin ...",Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,"[Adventure, Animation, Family]",[Walt Disney Animation Studios],2011-03-09,5.5,2011,-111007242
958,tt0180052,100000000,7103973,The Adventures of Pluto Nash,"[Eddie Murphy, Randy Quaid, Rosario Dawson, Jo...",Ron Underwood,Action's future has arrived...,"The year is 2087, the setting is the moon. Edd...",95,"[Action, Comedy, Science Fiction]","[Village Roadshow Pictures, Castle Rock Entert...",2002-08-15,4.6,2002,-92896027
1464,tt0424095,149000000,64459316,Flushed Away,"[Hugh Jackman, Kate Winslet, Ian McKellen, Jea...",David Bowers|Sam Fell,Someone's Going Down,"London high-society mouse, Roddy is flushed do...",85,"[Adventure, Animation, Comedy, Family]","[Aardman Animations, DreamWorks Animation]",2006-10-22,6.0,2006,-84540684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,tt0848228,220000000,1519557910,The Avengers,"[Robert Downey Jr., Chris Evans, Mark Ruffalo,...",Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,"[Science Fiction, Action, Adventure]",[Marvel Studios],2012-04-25,7.3,2012,1299557910
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]","[Universal Pictures, Original Film, Media Righ...",2015-04-01,7.3,2015,1316249360
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",2015-06-09,6.5,2015,1363528810
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]","[Lucasfilm, Truenorth Productions, Bad Robot]",2015-12-15,7.5,2015,1868178225
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [53]:
data = source_df.copy()
answers['7'] = 'The Lone Ranger'
data.sort_values('profit')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090
1616,tt0318974,145000000,25819961,The Alamo,"[Dennis Quaid, Billy Bob Thornton, Jason Patri...",John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,"[Western, History, War]","[Imagine Entertainment, Touchstone Pictures]",2004-04-07,5.9,2004,-119180039
809,tt1305591,150000000,38992758,Mars Needs Moms,"[Seth Green, Joan Cusack, Dan Fogler, Breckin ...",Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,"[Adventure, Animation, Family]",[Walt Disney Animation Studios],2011-03-09,5.5,2011,-111007242
958,tt0180052,100000000,7103973,The Adventures of Pluto Nash,"[Eddie Murphy, Randy Quaid, Rosario Dawson, Jo...",Ron Underwood,Action's future has arrived...,"The year is 2087, the setting is the moon. Edd...",95,"[Action, Comedy, Science Fiction]","[Village Roadshow Pictures, Castle Rock Entert...",2002-08-15,4.6,2002,-92896027
1464,tt0424095,149000000,64459316,Flushed Away,"[Hugh Jackman, Kate Winslet, Ian McKellen, Jea...",David Bowers|Sam Fell,Someone's Going Down,"London high-society mouse, Roddy is flushed do...",85,"[Adventure, Animation, Comedy, Family]","[Aardman Animations, DreamWorks Animation]",2006-10-22,6.0,2006,-84540684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,tt0848228,220000000,1519557910,The Avengers,"[Robert Downey Jr., Chris Evans, Mark Ruffalo,...",Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,"[Science Fiction, Action, Adventure]",[Marvel Studios],2012-04-25,7.3,2012,1299557910
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]","[Universal Pictures, Original Film, Media Righ...",2015-04-01,7.3,2015,1316249360
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",2015-06-09,6.5,2015,1363528810
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]","[Lucasfilm, Truenorth Productions, Bad Robot]",2015-12-15,7.5,2015,1868178225
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",2009-12-10,7.1,2009,2544505847

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [54]:
data = source_df.copy()

data[data.profit>0].count()
answers['8']='1478'

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [56]:
data = source_df.copy()

data[data.release_year==2008].sort_values('revenue')
answers['9']='The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [60]:
data = source_df.copy()

data[(data.release_year>=2012)&(data.release_year<=2014)].sort_values('profit')
answers['10']='The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [77]:
data = source_df.copy()

temp_df=pd.DataFrame(data.genres.sum(), columns=['genre'])
temp_df.genre.value_counts()
answers['11']='Drama'

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genre, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [78]:
data = source_df.copy()

temp_df=pd.DataFrame(data[data.profit>0].genres.sum(), columns=['genre'])
temp_df.genre.value_counts()
answers['12']='Drama'

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genre, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [88]:
'''Идея в том чтобы разбить записи у которых несколько режиссеров на несколько записей и применить groupby
Если можно было это реализовать эффективней - дайте знать'''
data = source_df.copy()

temp_df=pd.DataFrame(columns=['director', 'revenue'])

for i in data.index:
    for director in data.director[i]:
        new_row = {'director':director, 'revenue':data.revenue[i]}
        temp_df = temp_df.append(new_row, ignore_index=True)
        
temp_df.groupby('director')['revenue'].sum().sort_values()

answers['13']='Peter Jackson'

director
Simon Hunter            2033165
Keanu Reeves            2054941
Paul Schrader           2062066
Steven Shainberg        2281089
David MichÃ´d           2295423
                        ...
J.J. Abrams          3579169916
Michael Bay          3886938960
David Yates          4154295625
Christopher Nolan    4167548502
Peter Jackson        6490593685
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [107]:
data = source_df.copy()

temp_df=pd.DataFrame(columns=['director', 'genres'])

#снова разделяем записи так чтобы был один режиссер
for i in data.index:
    for director in data.director[i]:
        new_row = {'director':director, 'genres':data.genres[i]}
        temp_df = temp_df.append(new_row, ignore_index=True)

def is_action(genres):
    if 'Action' in genres:
        return True
        
temp_df['is_action']=temp_df.genres.apply(is_action)
#можно было сделать это проще или например lambda функцией?

temp_df.groupby('director')['is_action'].count().sort_values()

answers['14']='Robert Rodriguez'

#вам как профессионалу вообще понятно что я делаю или надо больше комментариев?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [139]:
data = source_df.copy()

temp_df=pd.DataFrame(columns=['actor', 'film_revenue'])

#снова разделяем записи так чтобы был один актер
for i in data.index:
    if data.release_year[i]==2012:
        for actor in data.cast[i]:
            new_row = {'actor':actor, 'film_revenue':data.revenue[i]}
            temp_df = temp_df.append(new_row, ignore_index=True)
        
#дальше решение зависит от того как трактовать вопрос то есть какую агрегатную функцию применить
temp_df = temp_df.astype({'film_revenue': np.int})
temp_df.groupby('actor')['film_revenue'].sum().sort_values()

answers['15']='Chris Hemsworth '

<ipython-input-139-d7fc0db54c9a>:11: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  temp_df = temp_df.astype({'film_revenue': np.int})

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [161]:
#здесь я узнал про explode...
data = source_df.copy()

data = data.explode('cast')
data[data.budget>data.budget.mean()].groupby('cast')['imdb_id'].count().sort_values()
answers['16']='Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [170]:
data = source_df.copy()

data = data.explode('cast')
data = data.explode('genres')

data=data[data.cast=='Nicolas Cage']
data.genres.value_counts()

answers['17']='Action'

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [176]:
data = source_df.copy()

data = data.explode('production_companies')
data[data.production_companies=='Paramount Pictures'].sort_values('profit')

answers['18']='K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [178]:
data = source_df.copy()

data.groupby('release_year').revenue.sum().sort_values()
answsers['19']='2015'

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2006    14775042320
2005    15309425558
2004    15663430720
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [228]:
data = source_df.copy()

data = data.explode('production_companies', ignore_index=True)

#data['Warner Bros' in data.production_companies] - не работает. Как это сделать,
# чтобы не использовать код ниже?

temp_df=pd.DataFrame(columns=['year', 'profit'])

for i in data.index:
    if 'Warner Bros' in data.production_companies[i]:
        new_row = {'year':data.release_year[i], 'profit':data.profit[i]}
        temp_df = temp_df.append(new_row, ignore_index=True)

temp_df.groupby('year').profit.sum().sort_values()
answers['20']='2011'

year
2000     452631386
2006     625351872
2015     870368348
2002    1022709901
2012    1258020056
2001    1282142579
2005    1551980298
2004    1631933725
2013    1636453400
2009    1822454136
2003    1844008221
2011    1871393682
2010    1974712985
2008    2134595031
2007    2201675217
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [220]:
data = source_df.copy()

data['month'] = np.nan

for i in data.index:
    date=data.release_date[i]
    data['month'][i]=date.month
#можно ли было разбить по месяцам проще?

data.groupby(data.month).imdb_id.count().sort_values()

answers['21'] = '9'

<ipython-input-220-91be94e77210>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month'][i]=date.month

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [224]:
data = source_df.copy()

data['month'] = np.nan

for i in data.index:
    date=data.release_date[i]
    data['month'][i]=date.month
    
data.groupby(data.month).imdb_id.count().sort_values()

147+142+161

answers['22'] = '450'

<ipython-input-224-972dc742fc51>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month'][i]=date.month

# 23. Для какого режиссера зима – самое продуктивное время года?

In [250]:
data = source_df.copy()

data['month'] = np.nan

for i in data.index:
    date=data.release_date[i]
    data['month'][i]=int(date.month)
    
data = data[data.month.isin([12,1,2])]

data = data.explode('director', ignore_index=True)

data.value_counts('director')

answers['23']='Peter Jackson'

<ipython-input-250-85f3e65b7902>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month'][i]=int(date.month)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [260]:
data = source_df[['production_companies', 'original_title']].copy()

data = data.explode('production_companies', ignore_index=True)

data['lenght'] = data.original_title.apply(lambda s: len(s))

data.groupby('production_companies').lenght.mean().sort_values()

answers['24'] = 'Four By Two Productions'

production_companies
Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Berlanti Productions           3.0
Everest Entertainment          3.0
                              ...
Polsky Films                  46.0
Museum Canada Productions     46.0
Dos Corazones                 47.0
Jim Henson Company, The       59.0
Four By Two Productions       83.0
Name: lenght, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [263]:
data = source_df[['production_companies', 'overview']].copy()

data = data.explode('production_companies', ignore_index=True)

data['lenght'] = data.overview.apply(lambda s: len(s.split()))

data.groupby('production_companies').lenght.mean().sort_values()

answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [271]:
data = source_df[['original_title', 'vote_average']].copy()

data.sort_values('vote_average').tail(19)
#19 потому что 1889*0.01=18.89

                                     original_title  vote_average
1563          Eternal Sunshine of the Spotless Mind           7.8
155                        The Theory of Everything           7.8
863           The Lord of the Rings: The Two Towers           7.8
1688                            There Will Be Blood           7.8
283                                      Mr. Nobody           7.8
1191                               12 Years a Slave           7.9
872                                     The Pianist           7.9
128                                       Gone Girl           7.9
1800                                        Memento           7.9
119                         Guardians of the Galaxy           7.9
370                                       Inception           7.9
1183                        The Wolf of Wall Street           7.9
138                        The Grand Budapest Hotel           7.9
1081  The Lord of the Rings: The Return of the King           7.9
34                                             Room           8.0
118                                    Interstellar           8.0
9                                        Inside Out           8.0
125                              The Imitation Game           8.0
599                                 The Dark Knight           8.1

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [336]:
data = source_df['cast'].copy()

data1 = data.explode('cast')

actors = data1.unique()

a_df = pd.DataFrame(0, columns=actors, index=actors)#таблица пересечения всех актеров со всеми

for actors in data:
    for couple in combinations(actors, 2):
        a_df[couple[0]][couple[1]]+=1

max_cast = 0

for i in a_df.columns:
    for j in a_df.index:
        if a_df[i][j]>max_cast:
            max_cast = a_df[i][j]

#т.к. таких пар несколько пришлось использовать еще один цикл
#можно было избежать этого?
for i in a_df.columns:
    for j in a_df.index:
        if a_df[i][j]==max_cast:
            print(i,j)

#код выполняется минуты полторы. Является ли он оптимальным?

Daniel Radcliffe Emma Watson
Daniel Radcliffe Rupert Grint

27